* {
text-decoration:none;
font-family: sans-serif;
}


table,td,th {
border: 1px solid #424242;
border-spacing: 0;
margin: 5px;
}

.stickerheader {
width:8%;
}

#loginbox {
	width:20%;
	height:15%;
	margin-right:auto;
	margin-left:auto;
	margin-top:5%;
	text-align:center;
	background-color:white;
	opacity:0.7;
	padding:2%;
	border-radius:5px;
}
.spinner {
  margin-left:auto;
  margin-right:auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin:3%;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
table {
margin-left:10%;
margin-top:-16%;
width:80%;
font-size:20px;
opacity: 0.9;
}

tr {
width:auto;
margin:auto;
font-size: 0.7em;
}

tr a, tr a:visited {
color: black;
}

tr a:hover {
color: #848484;
}

td {
padding: 5px;
color: #424242;
height:22px;
}

tr:nth-child(odd) {
background-color:#9a9a9a;
opacity:0.9;
}

tr:nth-child(even) {
background-color:#ddd;
opacity:0.9;
}


body {
position:relative;
font-family:Verdana, Arial, Helvetica, sans-serif;
background-color:dimgrey;

background-image: url('mobius-transparent.png');
background-repeat: no-repeat;
background-position: center 100px;
background-attachment: fixed;
}


#login {
	margin-left:10%;
	margin-right:10%;
}
#name {
	margin-left:5%;
	font-weight:bold;
}

.classdata {
width:50%;
margin:auto;
background-color:#FFFFFF;
}

p {
margin:30px;
padding-bottom:20px;
}

.back {
float:right;
margin:5px;
margin-right:3%;
}

.start {
margin-right: 20%;
float: right;
margin-top: -35px;
font-weight: bold;
font-size: 14pt;
text-decoration: none;
color: black;
}

.name {
float:left;
margin-top:-35px;
margin-left:20%;
font-weight:bold;
font-size:14pt;
}

.block {
text-align:center;
}

h2,h3 {
text-align:center;
margin-bottom: 15px;
}

.sticker {
	border-radius: 7px;
	color:white;
	margin:5px;
	width:100px;
	text-align: center;
	opacity: 0.8;
	height: 20px;
	z-index: 1;
}

#remaining-container {
    position: fixed;
    padding-left: 5px;
}

.sortbytext {
    padding-top: 100px;
    font-size: 0.8em;
}

.remaining {
	margin:5px;
	width:8%;
	text-align: center;
}

#remaining {
	padding-left: 13px;
    font-weight: bold;
}

.white,
.grey,
.black,
.blockblack,
.blockgrey,
.blockwhite {
	color: black;
    padding: 3px 0;
    width: 100px;
	margin:5px;
	text-align: center;
    border-radius: 4px;
}

.white, .blockwhite {
    background-color: white;
	color: black;
}

.grey, .blockgrey {
	background-color: gray;
	color: #424242;
}

.black, .blockblack {
	background-color: black;
	color:white;
}

