* {
text-decoration:none;
}


table,td,th {
border: 1px solid black;
border-spacing: 0;
margin: 5px;
}

.stickerheader {
width:8%;
}

table {
margin:auto;
width:80%;
font-size:20px;
}

tr {
width:auto;
margin:auto;
}

tr:nth-child(odd) {
background-color:#ADCCED;
opacity:0.9;
}

tr:nth-child(even) {
background-color:#CCDCED;
opacity:0.9;
}

body {
background-color:#C4C9CF;
}

.classdata {
width:50%;
margin:auto;
background-color:#FFFFFF;
}

p {
margin:30px;
padding-bottom:20px;
}

.back {
float:right;
margin:5px;
}

.start {
float:right;
margin-top:-35px;
margin-right:20%;
}

h2,h3 {
text-align:center;
margin-bottom: 15px;
}