* {
text-decoration:none;
font-family: sans-serif;
}


table,td,th {
border: 1px solid #424242;
border-spacing: 0;
margin: 5px;
}

.stickerheader {
width:8%;
}

table {
margin-left:10%;
margin-top:-16%;
width:80%;
font-size:20px;
opacity: 0.9;
}

tr {
width:auto;
margin:auto;
font-size: 0.8em;
}

tr a, tr a:visited {
color: black;
}

tr a:hover {
color: #848484;
}

td {
padding: 5px;
color: #424242;
height:22px;
}

tr:nth-child(odd) {
background-color:#9a9a9a;
opacity:0.9;
}

tr:nth-child(even) {
background-color:#ddd;
opacity:0.9;
}


body {
position:relative;
font-family:Verdana, Arial, Helvetica, sans-serif;
background-color:dimgrey;

background-image: url('mobius-transparent.png');
background-repeat: no-repeat;
background-position: center 100px;
background-attachment: fixed;
}


#login {
	margin-left:10%;
	margin-right:10%;
}
#name {
	margin-left:5%;
	font-weight:bold;
}

.classdata {
width:50%;
margin:auto;
background-color:#FFFFFF;
}

p {
margin:30px;
padding-bottom:20px;
}

.back {
float:right;
margin:5px;
margin-right:3%;
}

.start {
float:right;
margin-top:-35px;
margin-right:20%;
}

.name {
float:left;
margin-top:-35px;
margin-left:20%;
font-weight:bold;
font-size:14pt;
}

.block {
text-align:center;
}

h2,h3 {
text-align:center;
margin-bottom: 15px;
}

.sticker {
	border-radius: 7px;
	color:white;
	margin:5px;
	width:100px;
	text-align: center;
	opacity: 0.8;
	height: 20px;
	z-index: 1;
}

.remaining {
	margin:5px;
	width:8%;
	text-align: center;
}

.white {
	background-color: white;
	color: black;
	margin:5px;
	width:8%;
	text-align: center;
}

.grey {
	background-color: gray;
	margin:5px;
	width:8%;
	text-align: center;
}

.black {
	background-color: black;
	color:white;
	margin:5px;
	width:8%;
	text-align: center;
}

